*.local
# Ignore virtual environment
venv/
# Ignore Python bytecode
__pycache__/
*.pyc
# Ignore environment variables file
.env
# Ignore Firebase debug logs
firebase-debug.log
firebase-debug.*.log
# Ignore Python version file
.python-version